{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@chapter2": "./chapter2/src"
      }
    }],
    "@babel/plugin-syntax-export-default-from"
  ]
}